@font-face {
	font-family: "Biotif-black";
	src: url("./biotif/Biotif-Black.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-bold";
	src: url("./biotif/Biotif-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-book";
	src: url("./biotif/Biotif-Book.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-extrabold";
	src: url("./biotif/Biotif-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-light";
	src: url("./biotif/Biotif-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-medium";
	src: url("./biotif/Biotif-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif";
	src: url("./biotif/Biotif-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Biotif-semibold";
	src: url("./biotif/Biotif-SemiBold.ttf") format("truetype");
}

.biotif {
	font-family: "Biotif";
}
.biotif-semibold {
	font-family: "Biotif-semibold";
}
.biotif-medium {
	font-family: "Biotif-medium";
}
.biotif-light {
	font-family: "Biotif-light";
}
.biotif-extrabold {
	font-family: "Biotif-extrabold";
}
.biotif-book {
	font-family: "Biotif-book";
}
.biotif-bold {
	font-family: "Biotif-bold";
}
.biotif-black {
	font-family: "Biotif-black";
}

.__button {
	background: #3ed562;
}
.__about {
	color: #3ed562;
	font-size: 44px;
}
.navbar-fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	padding: 0.5rem 3rem 0.5rem 3rem;
}
.effect02 {
	color: #25d04e;
	background: transparent;
	border: 2px solid #3ed562;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.effect02:hover {
	background-color: #3ed562;
	color: white;
}
.effect01 {
	color: #fff;
	background-color: #3ed562;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.effect01:hover {
	background-color: transparent;
	color: #3ed562;
	border: 2px solid #3ed562;
}

.effect01:after,
.effect02:after {
	background: #fff;
	border: 0px solid #000;
	content: "";
	height: 155px;
	left: -75px;
	opacity: 0.8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
	z-index: 1;
}
.effect01:hover:after,
.effect02:hover:after {
	background: #fff;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}
.__max {
	bottom: -155px;
}
.__width {
	max-width: 18rem;
}
.bg_heart {
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.heart {
	position: absolute;
	top: -50%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-m-transform: rotate(-45deg);
	transform: rotate(-45deg);
	z-index: 100;
}

.heart:before {
	position: absolute;
	top: -50%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: 100%;
}

.heart:after {
	position: absolute;
	top: 0;
	right: -50%;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: 100%;
}
.__small {
	background-image: url("./image/mobile.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: #e5e5e54d; */
}

@-webkit-keyframes love {
	0% {
		top: 110%;
	}
}
@-moz-keyframes love {
	0% {
		top: 110%;
	}
}
@-ms-keyframes love {
	0% {
		top: 110%;
	}
}
@keyframes love {
	0% {
		top: 110%;
	}
}

@media only screen and (max-width: 800px) {
	.bg_heart {
		position: fixed;
		top: 0;
	}
	.__about {
		font-size: 30px;
	}
	.navbar-fixed-top.scrolled {
		background-color: #f2f2f2 !important;
		transition: background-color 200ms linear;
		padding: 0.3rem 1rem 0.3rem 1rem;
	}
}
@media only screen and (min-width: 800px) {
	body {
		background: rgba(111, 207, 151, 0.08);
	}
}
